/* There are dependencies with JavaScript, e.g. #3aedf5bc */

/* Letter combination "hl" is reserved for dangerous (but effective) things like el.className.indexOf("hl") // CAVEAT #41f603b5 
   Also later perhaps "bg" */

 
:root {
	font-family: system-ui, sans-serif;
	--bgDisco: rgb(0, 128, 127);
	--fgDisco: rgb(0, 90, 90);
	--shadow: 5px 5px 5px rgb(10, 10, 10);
	--btnWBg:    rgb(244, 244, 244);
	--btnWHovr:  rgb(222, 222, 222);
	--btnBg:     rgb(222,222,222);
	--btnBgHovr: rgb(200,200,200);
	--cntxtMnCrsr: pointer; /* Chrome has no context-menu cursor on Windows and most alternatives look ugly. */
	--winRadius: 0.3rem;
	--bttnIndent: 1.7rem; /* em varies! */
	--bttnTop: 0.7rem;

	--fltrIGN:   rgb(185, 0, 0);     /* Logger existence ignored: filter "E" */ /* DOCU #2540b06f */
	--fltrSIL:   rgb(0, 0, 185);     /* Logger silenced: filter "M" */
	--fltrGC:    rgb(187, 187, 187); /* Logger garbage collected, no filter */
	--fltrIGNGC: rgb(223, 151, 151); /* Logger garbage collected, filter "E" */
	--fltrSILGC: rgb(151, 151, 223); /* Logger garbage collected, filter "M" */
	
	--bgDEV: rgb(255, 255, 187);
/*	box-sizing: border-box;*/
}


/* General >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.mnspcd  {font-family: monospace, monospace; } /* sic! */
.smallr  {font-size: smaller;}
.bold    {font-weight: 700;}
.nobr    {white-space: nowrap;}
.pre     {white-space: pre;}
.hidden  {display: none;}
.collpsd {line-height: 0; height: 1}
.pn      {pointer-events: none;}
.pa      {pointer-events: all;}

.Disco   {background-color: var(--bgDisco);} /* Microsoft green */
.fgDisco {color: var(--fgDisco);}
.fgBlack {color: black;}

.lineSpacer {height: 0.5em;} /* Not rem */

.smallbtn { /* TODO Set button disabled attribute if parents have .pn */
	font-size: smaller;
	padding:0px;
	cursor: pointer;
}

input[type="radio"] {cursor: pointer;}


/* Header >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#titleID {
	background-color: var(--bgDisco);
	font-family: ui-serif;
	font-size:x-large;
	text-align: center;
	padding: 0.2rem;
	border-radius: 0.3rem;
	box-shadow: var(--shadow);
	outline: ridge 4px gold;
	color: white;
	cursor: help;
	position:relative;
	top: -3px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Loggers header/ dropdown window  >>>>>>>>>>>>>>>>>>>>>>>> */

#loggersID {
	resize: vertical; /* can break some things */
	background-color: var(--btnWBg);
	padding: 0.1rem 0.3rem;
	font-size: smaller;
	overflow: auto;
	width: fit-content;
	/* max-width set by JS #6e83e5b3 */
}
.lggrWinSection:not(:last-child) {
	border-bottom: solid 1px;
	padding-bottom: 0.5em; 
	border-color: var(--bgDisco);
	box-sizing: border-box;
}
#lggrTblTblID {
	font-family: monospace, monospace;
	padding-left: 0.3em;
	padding-top: 0.3em; 
    border-spacing: 0px;
    line-height: 1.0;
    white-space: pre;
}
.posLT {
	position: fixed;
	left: var(--bttnIndent);
	top: 0px; /* overwritten by JS  #3aedf5bc */ 
	z-index: 10;
}
.frame1 {
	outline: solid 1px var(--bgDisco);
	margin-left: 1rem; /* JS #6e83e5b3 */
	opacity: 1;
}
.frame2 {
	outline: ridge 2px var(--bgDisco);
	border-radius: var(--winRadius);
	margin-left: 0px;
	box-shadow: var(--shadow);
	opacity: 0;
	display: none;
}
.frame2Tr {
	transition: opacity 0.5s, display 0.5s allow-discrete ; /* #25035ec2 */
}

/* Logger list >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.lg:hover {
	outline: dashed var(--bgDisco);
	cursor: var(--cntxtMnCrsr);
}
/* Logger status colors/decoration  DOCU #2540b06f */
.lg.gc.ign                 { color: var(--fltrIGNGC); text-decoration: line-through; }
.lg.ign:not(.gc)           { color: var(--fltrIGN); }
.lg.gc:not(.ign):not(.sil) { color: var(--fltrGC);  text-decoration: line-through; }
.lg.sil:not(.gc)           { color: var(--fltrSIL); }
.lg.gc.sil                 { color: var(--fltrSILGC); text-decoration: line-through; }


/* Logger filter list >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#filter1LstID {
	font-family: monospace, monospace;
	padding-left: 0.3em;
	padding-top: 0.3em; 
    border-spacing: 0px;
    white-space: nowrap;
    line-height: 1.1;
}
#filter1LstID span.s:hover {
	border: dashed var(--bgDisco);
	}

.smallslct {
	appearance: none;
	padding: 0px;
	margin: 0px;
	border: none;
	outline-width: 0px;
	line-height: inherit;
	font: inherit;
	background-color: inherit;
	color: inherit;
}
.smallslct.hover { /* CSS :hover would give bad flicker. Using JS. #490e293d */
	appearance: auto;
	padding: 0px;
	margin: 0px;
}
.smallslct:focus:not(.hover) {appearance: auto; outline: auto;}

#filter1LstID .smallbtn { display: none }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Output space >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#outputID {
	isolation: isolate; /* Forces creation of a stacking context. Was needed, suddenly not... WHY? */
	font-family: monospace, monospace;
	white-space: pre; /* no linewrap #7d185fc2 at init. For line wrap add class lnw to chunks (TODO #6103a6ee) */
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}
/* Output chunk */
.chnk { border-bottom: 1px dashed red } /* added to chunk DIV by JS if TEST1==true #5cabad3d */
/* Else not used. Was:                              */
/*  .chnk {                                         */
/*    content-visibility: auto;                     */
/*    contain-intrinsic-height: auto;               */
/*      JS adds chunk height #190d2905              */
/*  }                                               */
/* This plus contentvisibilityautostatechange event */
/* is not working for 3 reasons... #note8           */
/* Using IntersectionObserver instead.              */


/* Log output line elements >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* 1) Prefix >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.pf {
	color:rgb(0, 0, 191);
	font-style: italic;
}
.pf:hover {
	outline: dashed var(--bgDisco);
	cursor: var(--cntxtMnCrsr);
}

/* 2) Milliseconds >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.ms { color:rgb(138, 70, 19); } /* Also used by logger table */
.msh .ms {display: none;} /* .msh: chunk-wide off switch */


/* 3) Extratext window >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Symbol(s) to click for extratext window popup/hide */
.xtS {
	position: relative; /* needs to be positioned, so xtW can get positioned "relative" to xtS  */
	line-height: 0; /* Some UTF-8 symbols are too high, changing them changes line hight, ugly */
	color: var(--bgDisco);
	white-space: nowrap;
}
.xtS:hover {
	outline: dashed var(--bgDisco);
	cursor: pointer;
}
/* Extratext Window */
.xtW {
	resize: vertical; /* #6660f095 */
	transition: right 200ms, width 200ms, top 0.5s, opacity 0.5s, display 0.5s allow-discrete;
	/* #25035ec2 transition of display to "none" works, but not to "inline-block". */
	/*           So we need setTimeout(()=>{xtWinEl.style.opacity = 1;}, 1); when setting xtWinEl.style.display = "inline-block"; */
	outline: solid 1px var(--fgDisco);
	box-shadow: var(--shadow);
	padding: 0.3rem;
	cursor: default;
	font-family: monospace, monospace;
	font-size: smaller;
	color: black;
	overflow: auto;
	white-space: pre;
	z-index: 5;
	top: 0px;       	/* top right aligned to top right of xtS */
	right: 0px;
	position: absolute; /* :-)  "The element is positioned /relative/ to its closest positioned ancestor"  */
	line-height: normal;
	opacity: 1;
}

/* 4) Extrabuttons >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.xtB:hover {
	outline: dashed var(--bgDisco);
}


/* Special output lines >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* 1) Command >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* A non log output line that can be hidden */
.cmd { display: none; }


/* 2) Infoline >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Extra line marking start of a search/highlight upward. New ones added below last output line */
.infoLine {
	z-index: -1;
	line-height: 1;
	position: relative;
	color: var(--bgDisco);
	font-size: smaller;
	margin: 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px dashed var(--bgDisco);
	background-color: var(--btnWBg);
}
.infoLine:hover {z-index: 10;}
.iLSym {
	line-height:0;
}
.iLSym:hover { /* TODO #6b2b50f8 Navigate to next infoLine: right-click (down) left-click (up) */
	background-color: var(--btnWHovr);
	cursor: pointer;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Output space */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Buttons for info/menu dropdown windows >>>>>>>>>>>>>>>>>> */
#lggrsButtonID {
	position:fixed;
	left: var(--bttnIndent); 
	top: var(--bttnTop);
}

.drpdwnWinBttn {
	border-radius: 0.15rem;
	position:relative;top:0px;left:0px; z-index: 130;
	outline: outset 2px rgb(180, 180, 180); /* #3aedf5bc */
	padding:0px; margin:0px;
	background-color: var(--btnBg);
	box-shadow: var(--shadow);
	pointer-events: auto;
}
.drpdwnWinBttn:hover {
	background-color: var(--btnBgHovr);
	cursor: pointer;
}
.drpdwnWinBttnWhite {
	border-radius: 0.15rem;
	position:relative;top:0px;left:0px; z-index: 130;
	outline: outset 2px rgb(180, 180, 180); /* #3aedf5bc */
	padding:0px; margin:0px;
	background-color: var(--btnWBg);
	box-shadow: var(--shadow);
	pointer-events: auto;
	display: none;
}
.drpdwnWinBttnWhite:hover {
	background-color: var(--btnWHovr);
	cursor: pointer;
}
.sym { line-height:0; } /* doesn't help anything */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Right side dropdown menus >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#drpdwnWinBttnsID {
	position:fixed;
	z-index:100;
	right: var(--bttnIndent);
	top:  var(--bttnTop);
	text-align:right;
}

.posRT {
	position: fixed;
	right: var(--bttnIndent);
	top:1.2em;
	z-index: 10;
}
	
.dropdownR {
	display: block;
	z-index: 10;
	outline: ridge 2px #aaa;
	margin-bottom: 4px;
	padding: 0.3rem;
	border-radius: var(--winRadius);
	background-color: rgb(222, 222, 222);
	box-shadow: var(--shadow);

	pointer-events: auto;
	text-align: right;
	display: none; /* #499996d7 !! */
	opacity: 1;
	transition: opacity 0.5s, display 0.5s allow-discrete ; /* #25035ec2 */
}

/* Color menu >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.boxed {outline: 2px solid black;}

#hlColrsID>span, #hlxColrsID>span {margin: 2px;}

.hoverbox span:not(.boxed):hover {
	outline: dashed grey;
	cursor: pointer;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Client message window >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.clientMsgs { /* When using #clientMsgsID instead, the fadeout doesn't work #2a77d95a*/
	position:fixed;
	z-index: 2;
	left:50%;
	top: calc( var(--bttnTop) - 3px ); 
	translate: -50%;
	text-align:center;
	color: var(--fgDisco);
	white-space: nowrap;
	display:inline;
	box-shadow: var(--shadow);
	outline: ridge 2px var(--bgDisco);
	padding: 0.1rem;
	margin: 3px; /* #3aedf5bc */
	opacity: 1;
	background-color: rgb(228, 243, 243);
	line-height:1;

}
/*.clientMsgs:hover {opacity: 1;}  Not working. Using JS instead */
/*.fadeout:hover {opacity: 1;}     Not working  #88dff0a */
.fadeout { /* Not working like .msh .ms above!!! */
	opacity: 0.3;
	transition: opacity 1s, width 1s;
}
.clntMsgRed {
	color: red;
	font-weight: 700;
}
.clntMsgBlue { color: blue; }




/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Context popup menus >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.contextMenu {
	position: absolute; z-index: 20;
	top:0px;
	left:0px;
	outline: ridge 2px #aaa;
	background-color: white;
	padding: 0.3rem;
	box-shadow: var(--shadow);
	color: grey;
	display: none;
	white-space: nowrap;
	transition: opacity 0.5s, display 0.5s allow-discrete;  /* #25035ec2 TODO */
}
.contextMenu .active:hover { background-color: #dcdcdc; } /* :not(.hint) :not(div, .hint)  */
.contextMenu .active {
	cursor: pointer;
	color: black;
}
.contextMenu .hint {
	background-color: white;
	color: var(--fgDisco);
	text-align: right;
	font-size: smaller;
	line-height:1;
} 

.ctxHvr { outline: dashed var(--bgDisco); } /* To keep up the :hover when mouse hovers over context menu */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Colors read/used by Javascript >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Automatic highlight colors Max. 10, 0...9     */
.hl0 {background-color: rgb(139, 166, 222);}
.hl1 {background-color: rgb(210, 155, 172);}
.hl2 {background-color: rgb(214, 205, 105);}
.hl3 {background-color: rgb(182, 205, 156);}
.hl4 {background-color: rgb(234, 128, 138);}
.hl5 {background-color: rgb(167, 167, 194);}
.hl6 {background-color: rgb(126, 235, 226);}

/* Extra highlight colors, user choice only. Max. 10, 0...9 */
.hlx0 {background-color: rgb(255, 0, 0);}
.hlx1 {background-color: rgb(255, 255, 0);}
.hlx2 {background-color: rgb(33, 253, 2);}
.hlx3 {background-color: rgb(180, 7, 255);}
.hlx4 {background-color: rgb(73, 177, 245);}

#outputID .hl0:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hl1:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hl2:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hl3:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hl4:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hl5:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hl6:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hlx0:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hlx1:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hlx2:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hlx3:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }
#outputID .hlx4:hover { outline: dashed var(--bgDisco); cursor: var(--cntxtMnCrsr); }


/* Logger Background colors with stripe effect. Single Letters A-Z only. */
/* (COPYPASTE #7eb9e155 to TEST.jsp) */
/* lggrClrs = ["C","A","M","R","J","N","Q","O"]; // COPYPASTE #2419b81e  Don't mess this up! */

/* ***************************** */
/* OUTPUT of clrOptmzr.js:       */
/* Logger background colors      */
/* ***************************** */
/* #g968 */
/* Fri Mar 01 2024 15:46:32 GMT+0100 (Central European Standard Time) */
/* Transp. modified */
.bgC2 { background-color: rgb(201, 242, 207, 0.75);}
.bgA2 { background-color: rgb(205, 223, 218, 0.8);}
.bgM2 { background-color: rgb(183, 236, 227, 0.8);}
.bgR2 { background-color: rgb(186, 222, 244, 0.8);}
.bgJ2 { background-color: rgb(204, 208, 253, 0.8);}
.bgN2 { background-color: rgb(224, 208, 226, 0.8);}
.bgQ2 { background-color: rgb(244, 212, 207, 0.8);}
.bgO2 { background-color: rgb(228, 228, 199, 0.8);}
/* bgX0 == bgX2 without transparency: */
.bgC0 { background-color: rgb(201, 242, 207);}
.bgA0 { background-color: rgb(205, 223, 218);}
.bgM0 { background-color: rgb(183, 236, 227);}
.bgR0 { background-color: rgb(186, 222, 244);}
.bgJ0 { background-color: rgb(204, 208, 253);}
.bgN0 { background-color: rgb(224, 208, 226);}
.bgQ0 { background-color: rgb(244, 212, 207);}
.bgO0 { background-color: rgb(228, 228, 199);}
/* bgX1 == no-transparency RGB from bgX2 being transparent on white: */
.bgC1 { background-color: rgb(215, 245, 219);}
.bgA1 { background-color: rgb(215, 229, 225);}
.bgM1 { background-color: rgb(197, 240, 233);}
.bgR1 { background-color: rgb(200, 229, 246);}
.bgJ1 { background-color: rgb(214, 217, 253);}
.bgN1 { background-color: rgb(230, 217, 232);}
.bgQ1 { background-color: rgb(246, 221, 217);}
.bgO1 { background-color: rgb(233, 233, 210);}


/*  #7e821f32 Other Colors  (Loggers and Other lumped together for performance) */

.bgS0 { background-color: rgb(57, 255, 57);}    /** S erver **/
.bgS2 { background-color: rgb(57, 255, 57, 0.75);}
.bgL0 { background-color: rgb(168, 140, 213);}  /** L ogSocket **/  /* logrocket.com :-) #754abc */
.bgL2 { background-color: rgb(168, 140, 213, 0.82);}
.bgB0 { background-color: rgb(184, 172, 29);}   /** B uffer **/
.bgB2 { background-color: rgb(184, 172, 29, 0.82);}
.bgE0 {	background-color: rgb(255, 128, 128);}  /** E rror **/
.bgE2 {	background-color: rgb(255, 128, 128, 0.82);}
.bgD0 {	background-color: rgb(120, 186, 186); } /** D isco **/
.bgD2 {	background-color: rgb(120, 186, 186, 0.88);}
.bgF0 { background-color: rgb(255, 17, 17);}    /** F ail **/
.bgF2 { background-color: rgb(255, 17, 17, 0.82);}

/* Computed in client_init.js #655e8593 from bgX2 above */
.bgS1 { background-color: rgb(107, 255, 107);}
.bgL1 { background-color: rgb(184, 161, 221);}
.bgB1 { background-color: rgb(197, 187, 70);}
.bgE1 { background-color: rgb(255, 151, 151);}
.bgD1 { background-color: rgb(136, 194, 194);}
.bgF1 { background-color: rgb(255, 60, 60);}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */


/* Extra HTML on/off */
.TESThtml {
	background-color: rgb(255, 255, 128);
	color: red;
 	display: none;
 	/* comment out to switch on */
}

#TESTwin1ID {
	font-weight: normal;
	color: black;
}	
	
	
.DEV { background-color: var(--bgDEV); }
/* DEV >>>> */
/* <<<<<<<< */

/* Styling the HTML title="..." popup - not yet: https://github.com/w3c/csswg-drafts/issues/8930 
    https://stackoverflow.com/questions/2011142/how-to-change-the-style-of-the-title-attribute-inside-an-anchor-tag
*/

       